@import url("https://use.typekit.net/yuc5kgr.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  box-sizing: border-box;
}

.rfont {
  font-family: "Roboto", brother-1816;
  font-size: 2rem;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "brother-1816" !important;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brother-1816" !important;
  font-style: normal;
  font-weight: bold;
}
.slider {
  font-family: "brother-1816";
  font-style: normal;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.slider__slide {
  transition: all 0.5s fade-in-out;
  transform: scale(1.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0;
}

.slider__slide__text {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
}

.slider__slide__text a,
.slider__slide__text a:link {
  transition: all 1s ease-in-out;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 32px;
  padding: 20px;
  display: block;
  cursor: pointer;
}

.slider__slide__text a:hover,
.slider__slide__text a:link:hover {
  background: rgba(20, 20, 20, 0.4);
  color: #c8c8c8;
}

.slider__slide[data-active="true"] {
  transform: scale(1);
  z-index: 100;
  opacity: 1;
}

.slider__next,
.slider__previous {
  transition: all 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  z-index: 200;
  position: absolute;
  cursor: pointer;
}

.slider__next:hover,
.slider__previous:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

.slider__next {
  bottom: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: red;
}

.slider__previous {
  bottom: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: red;
}

.loader.up {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 150px;
  border: 6px solid #fff;
  border-top-color: #fff;
  border-left-color: #555;
  border-right-color: #555;
  border-bottom-color: #fff;
  -webkit-animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
}

.loader.down {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -75px;
  border-radius: 200px;
  border: 6px solid #fff;
  border-left-color: #fff;
  border-top-color: #555;
  border-bottom-color: #555;
  border-right-color: #fff;
  -webkit-animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -o-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.car {
  position: absolute;
  /* bottom: 20px; */
  right: 10;
  transition: 0.8s ease-in 0.5s;
  height: 60%;
  top: 10rem;
}

.car-in {
  right: 10px;
}

.car1 {
  position: absolute;
  /* bottom: -500px; */
  right: -500px;
  height: 60%;
  transition: 0.8s ease-in 0.5s;
}

.car1-in {
  right: 50px;
  bottom: 120px;
}

.block {
  position: absolute;
  top: 120px;
  left: 10px;
}

.heading {
  position: relative;
  display: inline-block;
  top: 15px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  transition: 0.8s ease-in-out 0.5s;
  font-size: 24px;
  margin-right: 10px;
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 500;
}
.heading .two {
  position: absolute;
  width: 30vw;
  top: 3rem;
}

.caption {
  transition: 0.9s ease-out 0.9s;
  top: 20px;
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.caption-text {
  transition: 0.8s ease-in 1.2s;
  font-family: Brother-1816;
}

.heading-in {
  left: 0;
}

.block1 {
  position: absolute;
  top: -500px;
  right: 150px;
  transition: 0.8s ease-out 0.9s;
}

.block1-in {
  top: 50px;
}

.blah-1 {
  position: relative;
  display: block;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  right: 0;
  top: 0;
  color: hsl(218, 50%, 50%);
  transition: 0.8s ease-in-out 2.8s;
  font-size: 24px;
  margin-right: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  font-family: Brother-1816;
}

.blah-1-1 {
  transition: 0.9s ease-out 3s;
  left: 20px;
  font-family: monospace;
}

.blah-1-2 {
  transition: 0.8s ease-in 3.2s;
  font-family: serif;
}

.blah-1-in {
  top: -500px;
}
.menu-bg {
  background: linear-gradient(to right, #9a56ff, #d78afd);
}
#particle-js {
  background: linear-gradient(to right, #9a56ff, #d78afd);
  clip-path: polygon(-2px 700px, 1373px 598px, 1350px 4px, 0px 0px);
  -webkit-clip-path: polygon(-2px 700px, 1373px 598px, 1350px 4px, 0px 0px);
  box-shadow: 1px 3px 40px;
  border-bottom-left-radius: 40px;
  position: relative;
  top: 3.5em;
}
.top-buffer {
  margin-top: 20px;
}

.navbar-icon {
  /* width: 5em; */
  height: 2em;
}

.about-page .jumbotron {
  margin: 0;
  background: rgba(9, 69, 95, 0.8);
  color: white;
  border-radius: 0 !important;
}

.navbar .nav .active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: white !important;
  color: #333 !important;
}

.avatar {
  max-width: 80px;
}

.navbar {
  padding-left: 0px !important;
  z-index: 99999;
}

.header-title {
  background-color: rgb(238, 235, 235);
}

.main-card {
  position: relative;
  top: -8em;
}
.card-shadow {
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.4);
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  border-radius: 15px !important;
  /* width: 497px !important; */
  /* height: 520px !important; */
}
.main-flex {
  display: flex;
  justify-content: space-between;
}

.card-body h2 {
  font-family: Brother-1816;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-style: normal;
}

.text-img {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#carouselExampleIndicators {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.bg-card-theme {
  background-color: rgba(112, 112, 112, 0.14) !important;
}
.w-30 {
  width: 30% !important;
}
.px-6 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.hvrcenter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvrcenter:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  background: #ecf0f1;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* .hvrcenter:hover:before, */
.hvrcenter:focus:before,
.hvrcenter:active:before {
  left: 0;
  right: 0;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1) !important;
}
.nav-link .active {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  background: #ecf0f1;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  color: rgba(314, 010, 255, 1) !important;
}
.bg-footer {
  background-color: rgba(112, 112, 112, 1);
}
.sliderBtn {
  border-radius: 35px !important;
}
.text-violet {
  color: rgba(215, 138, 253, 1);
  background-color: #fff;
}
.comment{
  height: 150px;
  width: 360px;
  border: 'none';
  background-color : '#f2f2f2';
  
}