/* @media screen and(max-width: 576px) { */
h1 {
	font-size: 1.875rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.2rem;
}
p {
	font-size: 1rem;
}
.p {
	font-size: 15px;
}
a {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1.5px;
}
/* } */

@media (min-width: 576px) {
	p {
		font-size: 1rem;
	}
	h1 {
		font-family: montserrat, sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 3.6rem;
		line-height: 62px;
		letter-spacing: normal;
		/* color: #007cc2 !important; */
	}
	h2 {
		font-family: montserrat, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 2.56rem;
		line-height: 44px;
		letter-spacing: normal;
		/* color: #007cc2 !important; */
	}
	h3 {
		font-family: montserrat, sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 1.6rem;
		line-height: 32px;
		letter-spacing: normal;
		/* color: #007cc2 !important; */
	}
	h4 {
		font-family: montserrat, sans-serif;
		font-weight: 600;
		font-style: normal;
		font-size: 1.125rem;
		line-height: 22px;
		letter-spacing: normal;
		/* color: #007cc2 !important; */
	}
	.fw6 {
		font-weight: 600;
	}
	h5,
	h6,
	a {
		font-family: montserrat;
		font-weight: 600;
		font-style: normal;
		/* color: #007cc2 !important; */
	}
}
