.navfontf {
  font-size: 1.2rem;
  color: white;
}
.fsize {
  font-size: 0.8em !important;
}
.FooterWrapper {
  background: #1b1b1b;
}
.bottombgFooter {
  background-color: #2a2a2a;
}
.drata {
  width: 80px;
}
.footaddleft {
  text-align: left;
}
.webText {
  font-size: 12px !important;
}
.ptext {
  text-align: left;
}
.lht {
  line-height: 1.5;
}
.w-65 {
  width: 50%;
}

p {
  font-size: 12px !important;
  line-height: 24px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 200;
}

a {
  font-weight: 300;
}
.m5t {
  margin-top: 5px;
}

.prvtpolicy {
  height: 60px;
  line-height: 10px;
  margin-top: 0px;
  padding: 0px 30px;
  display: none;
}
.prvtpolicy #hide {
  position: absolute;
  top: 8%;
  right: 2%;
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 5px;
}
.navfont {
  position: relative;
  top: 0px;
  font-size: 8px;
}

.fsize08 {
  font-size: 8px !important;
  position: relative;
  top: 0px;
  line-height: 18px;
}
@media (min-width: 576px) {
  .navfont,
  .fsize08 {
    font-size: 16px;
    position: relative;
    top: 0%;
  }
  .fsize08 {
    font-size: 14px !important;
    position: relative;
    top: 0%;
    line-height: 24px;
  }
  .prvtpolicy {
    height: 40px;
    padding: 0;
    display: none;
  }
  .prvtpolicy #hide {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .ptext {
    text-align: justify;
  }
  .fsize08 {
    font-size: 10px;
  }
  .w-65 {
    width: 55%;
  }
  .w-35vw {
    width: 40vw;
  }
  .w-30vw {
    width: 35vw;
  }
  .w-32vw {
    width: 30vw;
  }
  a {
    font-weight: 300;
  }
  .webText {
    font-size: 14px !important;
  }
  p {
    font-size: 14px !important;
    line-height: 1.5;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 200;
  }
}

@media (min-width: 1280px) {
  .w-32vw {
    width: 28%;
  }
}
